<div class="background-image">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 style="font-size: 3rem; color: white;">Bienvenido a Energías Renovables</h1>
<p style="font-size: 1.8rem; color: #ffffff;" class="mb-4">Por favor seleccione la energía que desea consultar:</p>

                <button type="button" class="btn btn-primary btn-block mb-3 btn-lg" (click)="navigateToEnergias('solar')">Energía Solar </button>                  
                <button type="button" class="btn btn-success btn-block mb-3 btn-lg" (click)="navigateToEnergias('eolica')">Energía Eólica</button>
                <button type="button" class="btn btn-info btn-block mb-3 btn-lg" (click)="navigateToEnergias('hidro')">Energía Hidroeléctrica</button>
                <button type="button" class="btn btn-warning btn-block mb-3 btn-lg" (click)="navigateToEnergias('biomasa')">Energía Biomasa</button>
                <button type="button" class="btn btn-danger btn-block mb-3 btn-lg" (click)="navigateToEnergias('geotermica')">Energía Geotérmica</button>
            </div>
        </div>
    </div>
</div>
